*{
    padding: 0;
    margin: 0;
    font-family: "Times New Roman", serif;
    box-sizing: border-box;   
}
html{
    background: url(img/Hero.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.main{
    display: flex;
}
h1{
    padding: 12px;
    width: 490px;
    margin: 10px 10px 20px 10px;
    font-size: 60px;
    color:white;
    background-color: aqua;
    background-color: rgba(0, 0, 0, .69);
    border-radius: 20px;
}
hr{
    margin-bottom: 30px;
    height: 2px;
}
.info {
    margin-left: 5px;
    font-size: 20px;
    color: white;
}
span{
    color: rgb(111, 200, 225);
}
.name{
    padding: 10px;
    margin: 2px 25px;
    border-radius: 7px;
    border: 2px solid rgb(255, 255, 255);
    background-color: aqua;
    background-color: rgba(0, 0, 0, .6);
}
::placeholder{
    color: rgb(139, 134, 134);
}
.worth{
    padding: 10px;
    margin: 2px 25px;
    border-radius: 7px;
    border: 2px solid #f9004d;
    background-color: aqua;
    background-color: rgba(0, 0, 0, .6);
}
.total{
    padding: 10px;
    margin: 2px 25px;
    border-radius: 7px;
    border: 2px solid #f9004d;
    background-color: aqua;
    background-color: rgba(0, 0, 0, .6);
}
.btn{
    margin-left: 50px;
    background-color: #f90029;
    color: white;
    border: 2px solid transparent;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 25px;
    border-radius: 20px;
    transition: .4s; 
}
.btn:hover{
    background-color: transparent;
    transform: scale(1.2);
    border: 2px solid #f9004d;
    cursor: pointer;
}
.summary{
    display: inline-block;
    text-align: center;
    height: 500px;
    width: 300px;
    background-color: aqua;
    background-color: rgba(0, 0, 0, .69);
    margin-top: 30px;
    margin-left: 100px;
    border-radius: 50px;
    border: 5px solid rgb(20, 20, 202);
}
.summary h3{
    padding: 20px 0px;
    font-size: 30px;
    color: white;
}
.result{
    display: inline-block;
    text-align: center;
    height: 500px;
    width: 300px;
    background-color: aqua;
    background-color: rgba(0, 0, 0, .69);
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 50px;
    border: 5px solid rgb(20, 20, 202);
}
.result h3{
    padding: 20px 0px;
    font-size: 30px;
    color: white;
}
.result div{
    font-size: 20px;
}
footer{
    display: flex;
    justify-content: center;
}
footer p{
    margin-top: 80px;
    color: white;
}